* {
  box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  cursor: pointer;
}

/* ---------------- */
/* global */
html,
body {
  height: 100%;
}
body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background: #d8d8d6;
}
.wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}
main {
  flex-grow: 1;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
/* header */
.header {
  background: #81a36b;
  padding: 21px 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .logo {
} */
.menu {
  display: flex;
  gap: 30px;
}
.menu a {
  text-decoration: none;
  color: black;
}
/* main */
.amelia-flowers {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 120px;
}
.main-content {
  flex: 1 1 45%;
}

.main-title {
  font-family: Architects Daughter;
  font-size: 62px;
  margin-bottom: 41px;
}
.amelia-description {
  margin-bottom: 20px;
}
.btn-order {
  border-radius: 6px;
  background: #81a36b;
  padding: 16px 34px;
  margin-right: 23px;
}
.btn-help {
  border-radius: 6px;
  border: 1px solid #81a36b;
  padding: 16px 34px;
  background: #d8d8d6;
}
.main-picture {
  flex: 1 1 45%;
}
.main-picture-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about_us {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 120px;
}
.about_us_title {
  font-family: Architects Daughter;
  font-size: 32px;

  margin-bottom: 50px;
}

.advantages {
  background: #81a36b;
  padding: 78px 0;
  margin-bottom: 120px;
}
.advantages_list {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.advatages_item {
  text-align: center;
}
.advantages-logo {
  width: 80px;
  height: 79px;
  margin-bottom: 25px;
}
.advantages-desc {
  font-family: Montserrat;
  font-weight: 500;
}
.about_work {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 120px;
}
.about_work_title {
  text-align: center;
  font-family: Architects Daughter;
  font-size: 32px;
  margin-bottom: 50px;
}

.our_works_title {
  text-align: center;
  font-family: Architects Daughter;
  font-size: 32px;
  margin-bottom: 50px;
}
.our_works_cards {
  display: flex;

  gap: 30px;
  text-align: center;

  margin-bottom: 120px;
}
.card {
  flex: 1 1 30%;
  border-radius: 6px;
  background: #81a36b;
  padding: 15px 15px 40px;
}
.img_cards {
  width: 100%;
  height: 402px;
  border-radius: 6px;
  margin-bottom: 23px;
}

.footer {
  background: #81a36b;
  padding: 50px 0;
  text-align: center;
}
.footer_logo {
  margin-bottom: 25px;
}
.footer_title {
  font-size: 24px;
  margin-bottom: 20px;
}
.footer_list a {
  text-decoration: none;
  color: black;
}
.footer_list > li {
  margin-bottom: 15px;
}
.footer_data {
  font-size: 16px;
  font-weight: 500;
}

/* media1100 */
@media (max-width: 1100px) {
  .amelia-flowers {
    position: relative;
    padding: 60px 0;
    justify-content: center;
  }
  .main-content {
    max-width: 500px;
    text-align: justify;
  }
  .main-picture {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
  }
  .buttons > button {
    width: 47%;
  }
  .main-title {
    text-align: center;
  }
  .about_work-picture img {
    width: 450px;
    height: 100%;
  }
  .about_work {
    justify-content: center;
  }
}
/* media 992 */
@media (max-width: 992px) {
  body {
    font-size: 16px;
    line-height: 1;
  }
  .menu {
    gap: 18px;
  }
  .logo img {
    width: auto;
    height: 20px;
  }
  .main-title {
    font-size: 50px;
    margin-bottom: 25px;
  }
  .amelia-flowers {
    margin-bottom: 60px;
  }
  .about_us_title {
    margin-bottom: 30px;
  }
  .about_us {
    margin-bottom: 60px;
  }
  .advantages {
    padding: 50px 0;
    margin-bottom: 60px;
  }
  .advantages-logo {
    width: 100%;
    height: 60px;
    margin-bottom: 25px;
  }
  .about_work-picture {
    display: none;
  }
  .about_work_title {
    margin-bottom: 25px;
  }
  .about_work_desc {
    text-align: center;
  }
  .about_work {
    margin-bottom: 60px;
  }
  .our_works_title {
    margin-bottom: 30px;
  }
  .our_works_cards {
    gap: 15px;
    margin-bottom: 60px;
  }
  .img_cards {
    width: 100%;
    height: 350px;
  }
  .footer {
    padding: 25px 0;
  }
  .footer_logo {
    width: auto;
    height: 20px;
    margin-bottom: 15px;
  }
  .footer_title {
    font-size: 18px;
  }
  .footer_data {
    font-size: 14px;
  }
  .footer_list > li {
    margin-bottom: 5px;
  }
}
/* media 768 */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .menu {
    gap: 14px;
  }
  .advantages {
    padding: 20px 0;
  }
  .advantages-logo {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
  }
  .img_cards {
    width: 100%;
    height: 250px;
  }
  .our_works_cards {
    gap: 5px;
  }
  .card {
    padding: 5px 5px 30px;
  }
}
/* media 600 */
@media (max-width: 600px) {
  .menu {
    display: none;
  }
  .header-container {
    justify-content: center;
  }
  .amelia-flowers {
    padding: 30px 0;
  }
  .main-title {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .buttons > button {
    width: 100%;
    padding: 10px 0;
  }
  .btn-order {
    margin-bottom: 10px;
  }
  .amelia-flowers {
    margin-bottom: 40px;
  }
  .about_us_title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .advantages_list {
    flex-wrap: wrap;
  }
  .advatages_item {
    flex: 1 1 30%;
    margin-bottom: 10px;
  }
  .advantages-logo {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
  }
  .advantages {
    margin-bottom: 40px;
  }
  .about_us {
    margin-bottom: 40px;
  }
  .about_work_title {
    margin-bottom: 20px;
    font-size: 25px;
  }
  .about_work {
    margin-bottom: 40px;
  }
  .our_works_title {
    margin-bottom: 20px;
    font-size: 25px;
  }
  .our_works_cards {
    flex-flow: column;
    align-items: center;
    margin-bottom: 40px;
  }
}
